@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald:300; 400; 500');


.logo {
    float: left;
    font-size: 200%;
    font-family: "Oswald", sans-serif;
    letter-spacing: 4px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #494949;
    font-weight: bold;
    
}

.nav {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #FFFFFF;
    font-weight: bold;
    overflow: hidden;

}

/*https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
.nav a {
  float: left;
  display: block;
  color: #494949;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
}

.nav a:hover {
  color: #B0BA3D;
}

.nav .icon {
  display: none;
}

.nav.responsive {position: relative;}

.nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
} 
.nav li:hover {
    text-decoration: underline;
}

.logo .nav {
    line-height: 75px;
}

.nav li {
    padding-right: 15px;
}

.nav a {
    text-decoration: none;
    color: #494949;
 }

.index h3:hover {
    color: #B0BA3D;
}

.container-index {
    color: #494949;
    text-align: center;
    
}
.col-12 p {
    font-size: 110%;
    padding-bottom: 15px;
}
.text-index {
    color: #494949;
    margin: 30px;
    margin-bottom: -15px;
    font-family: "Oswald",sans-serif; 
    text-align: center;
}

.container-index i {
    font-size: 125%;
}

.container-index i:hover {
    color: #B0BA3D;
}

.text-uppercase {
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
}

.container-trails {
    color: #494949;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-trails p {
    font-family: "Roboto",sans-serif; 
}

.progress {
    margin-bottom: 20px;
}

.row {
    margin: 15px;
    padding: 15px;
}

.card-body h5{
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #494949;
    letter-spacing: 2px;
    background-color: #ffffff;
    text-decoration: underline;
}

.card-body p {
     list-style-type: none;
     text-align: center;
     color:#494949;
     margin: 0px;
     background-color: #ffffff;
     font-family: "Roboto", sans-serif;
}
.card-footer{
    background-color: #B0BA3D;
}

/*https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width*/
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*https://github.com/Code-Institute-Solutions/Love-Running-Solutions/blob/master/08_responsive_elements/05_responsive_gallery/assets/css/style.css*/
#circle-container {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-style: solid;
    border-color: #B0BA3D;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    
}

#circle-cover-bg {
    background: url('https://pictures.ssg-service.com/172/1729950_original_1.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.code-of-conduct-header {
    text-align: center;
    color: #494949;
    font-family: "Oswald",sans-serif; 
}
.code-of-conduct-header h3 {
    text-decoration: underline;

}
 .code-of-conduct-body {
    text-align: center;
    color: #494949;
    font-family: "Roboto",sans-serif; 
    font-size: 90%;
}

.how-to-prepare-h4 {
    text-align: center;
    color: #494949;
    font-family: "Oswald",sans-serif;
    text-decoration: underline;
}

.how-to-prepare-body {
    text-align: center;
    color: #494949;
    font-family: "Roboto",sans-serif;
    font-size: 90%;
    margin: 0;
}

footer {
    height: 100px;
    background-color: #494949;
    padding: 1px;
    margin: 1px;
    opacity: 90%;
}

.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #FFFAF0;
}

#photo {
    clear: both;
    column-count: 2;
    column-gap: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
}

#photo img{
    width: 100%;
}

@media screen and (max-width: 943px) {
    .logo{
        font-size: 80%;
        float: inherit;
    }

    .nav {
        font-size: 75%;
    }
}

@media screen and (max-width: 450px) {

.hidden-mobile {
      display: none;
  }
 #center-about {
     display: none;
 }

.logo {
      font-size: 80%;
      text-align: center;
  }
.nav {
      font-size: 10%;
      text-align: center;
      
  }

.index .row{
   flex-wrap: wrap-reverse;
}
.index h3 {
      font-size: 140%;
  }
.index .col p {
    display: none;
}
.index .col i {
    display: none;
}

.col-12 p{
    text-align: center;
    font-size: 90%;
}

.how-to-prepare-h4 {
      font-size: 130%;
  }

.how-to-prepare-body {
      font-size: 90%;
      padding: 15px;
  }

.description {
    display: none;
}
.progress {
    display: none;
}
.code-of-conduct-h3 {
    font-size: 100%;
}

.code-of-conduct-header h5 {
    font-size: 90%;
}
.code-of-conduct-body p .noshow{
    display: none;
}

#photo {
    width: 100%;
    column-count: 1;
}

footer {
    padding: 30px;
}

 }

 

