@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald:300');

.logo {
    float: left;
    font-size: 200%;
    font-family: "Oswald", sans-serif;
    letter-spacing: 4px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #9ACD32;
}

.nav {
    font-family: "Oswald", sans-serif;
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #FFFFFF;
}
.nav li:hover{
    color:#778899;
    text-decoration: underline;
}
.logo .nav{
    line-height: 75px;
}
.nav li {
    padding-right: 15px;
}

.nav a {
    text-decoration: none;
    color: #9ACD32;
 }

}
section h3{
    color: #778899;
    text-align: center;
}
.index h3:hover {
    color: #9ACD32;
}
.text-center {
    color: #778899;
    margin: 30px;
    margin-bottom: 0px;
}
.text-uppercase {
    margin-bottom: 20px;
}
.progress {
    margin-bottom: 20px;
}
.container{
    color: #778899;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.row {
    margin: 30px;
    padding: 30px;
}
/**Love Running copyright**/
#center-image {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #9ACD32;
    border-width: 2px;
    background-color: none;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
#center-image-bg {
    background: url(https://github.com/kuszturareka/mtb-nynashamn/blob/82256fdfa2530d9421c1e983b4df9b997b2c9943/assets/images/3.jpg) no-repeat center center;
    height: 25%;
    border-radius: 50%;
}
/**Love Running copyright**/
footer {
    height: 100px;
    background-color: #9ACD32;
    padding: 0px;
}

.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i{
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #FFFAF0;
}
.container i:hover {
    color: #9ACD32;
    font-size: 150%;
}
